@using ServiceLayer.ViewModels.AdminViewModels
@using System.Web
@model NewsDetailsViewModel
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .justified-text {
        text-align: justify;
        text-justify: inter-word; /* بهترین نوع جُسته‌کاری */
        line-height: 2; /* فاصله بین خطوط */
        font-size: 1.1rem; /* اندازه قابل خواندن */
        margin-bottom: 1.5rem;
    }

    .card-title {
        font-size: 1.75rem;
        font-weight: bold;
    }

    .news-image {
        max-width: 300px;
        max-height: 500px;
        margin: auto;
    }

</style>

<div class="container mt-5 mb-5">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <article class="card shadow-sm">
                @if (!string.IsNullOrEmpty(Model.ImagePath))
                {
                    <div class="text-center p-3">
                        <picture>
                            <source srcset="@Model.ImagePath?width=400" media="(min-width: 450px)">
                            <source srcset="@Model.ImagePath?width=300" media="(min-width: 250px)">
                            <img src="@Model.ImagePath?width=200"
                                 class="card-img-top"
                                 alt="@Model.Title"
                                 style="max-width: 1000px; max-height: 500px;">
                        </picture>
                    </div>
                }
                <div class="card-body">
                    <h1 class="card-title">@Model.Title</h1>

                    <div class="d-flex justify-content-between text-muted mb-4">
                        <small>تاریخ انتشار: @Model.CreateDate</small>
                    </div>

                    <div class="card-text justified-text">
                        @Html.Raw(HttpUtility.HtmlEncode(Model.Description).Replace("\n", "<br>"))
                    </div>
                </div>
                <div class="card-footer bg-transparent text-center">
                    <a asp-action="NewsList" class="btn btn-primary">
                        <i class="fas fa-arrow-left ml-2"></i>
                        بازگشت به لیست اخبار
                    </a>
                </div>
            </article>
        </div>
    </div>
</div>
